<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<title>CeleraOne Application Task</title>
		</head>
		<body>
			<b>
				<u>Weekly On Call Schedule - </u> :- Mr. Sulabh Chaturvedi
			</b>
			<hr>
				<table cellspacing=0 border=1>
					<tr>
						<td style=min-width:50px>Today</td>
						<td style=min-width:50px>Aug - 19 to Aug 26</td>
						<td style=min-width:50px></td>
						<td style=min-width:50px></td>
						<td style=min-width:50px></td>
						<td style=min-width:50px></td>
						<td style=min-width:50px></td>
						<td style=min-width:50px></td>
						<td style=min-width:50px></td>
					</tr>
					<tr>
						<td style=min-width:50px>Rotations</td>
						<td style=min-width:50px>Sun 19/8</td>
						<td style=min-width:50px>Mon 20/8</td>
						<td style=min-width:50px>Tue 21/8</td>
						<td style=min-width:50px>Wed 22/8</td>
						<td style=min-width:50px>Thur 23/8</td>
						<td style=min-width:50px>Friday 24/8</td>
						<td style=min-width:50px>Sat 25/8</td>
						<td style=min-width:50px>Sun 26/8</td>
					</tr>
					<tr>
						<td style=min-width:50px>Rot 1</td>
						<td style=min-width:50px>Sulabh Chaturvedi</td>
						<td style=min-width:50px>Sulabh Chaturvedi</td>
						<td style=min-width:50px>Sulabh Chaturvedi</td>
						<td style=min-width:50px>Sulabh Chaturvedi</td>
						<td style=min-width:50px>Sulabh Chaturvedi</td>
						<td style=min-width:50px></td>
						<td style=min-width:50px></td>
						<td style=min-width:50px></td>
					</tr>
					<tr>
						<td style=min-width:50px>Rot2</td>
						<td style=min-width:50px></td>
						<td style=min-width:50px></td>
						<td style=min-width:50px></td>
						<td style=min-width:50px></td>
						<td style=min-width:50px></td>
						<td style=min-width:50px>Sulabh Chaturvedi</td>
						<td style=min-width:50px>Sulabh Chaturvedi</td>
						<td style=min-width:50px>Sulabh Chaturvedi</td>
					</tr>
			</table>
		<hr>
	</body>
</html>
